<h2>Add new employee</h2>
<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmitted(employeeForm.value)">
  <input class="input-employee" type="text" formControlName="name" placeholder="name">
  <input class="input-employee" type="number" formControlName="age" placeholder="age">
  <input class="input-employee" type="number" formControlName="salary" placeholder="salary">
  <input class="input-employee" type="submit" [disabled]="employeeForm.invalid" value="submit">
</form>
<div id="employee-data-preview" *ngIf="employeeForm.valid">
Your new employee (name: {{employeeForm.value.name}},
age: {{employeeForm.value.age}},
salary: {{employeeForm.value.salary}}) will be added.
</div>
