<h2>Employee list</h2>
<div id="warning-message"><h5>{{message}}</h5></div>

<!--
<ul *ngIf="data$ | async as data; else empty">
  <li *ngFor="let employee of data">ID: {{ employee.personalNumber }}<br>Name:  {{ employee.name }}<br> email: {{employee.mail}}</li>
</ul>
-->

<table id="employee-table" *ngIf="data$ |async as data; else empty">
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Email</td>
  </tr>
  <tr *ngFor="let employee of data">
    <td>{{employee.personalNumber}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.mail}}</td>
  </tr>
</table>

<ng-template #empty> There is no data </ng-template>
