<div class="navbar-container">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="/assets/logo.svg" fill="white" alt="" width="30" height="30" class="d-inline-block align-text-bottom">
        KBWCH</a>
      <button class="navbar-toggler collapsed d-flex d-sm-none flex-column justify-content-around"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="employee-list">LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="create-employee">CREATE EMPLOYEE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-left">
    ® KBWCH
  </div>
  <div class="footer-right">
    <span>
      2022
    </span>
    <span>
      <a href="https://github.com/CodeNinja500" target="_blank">Maciej Paluch</a>
    </span>
  </div>
</footer>



