/* You can add global styles to this file, and also import other style files */
h1{
  font-size: xxx-large;
}
body{
  background-image: url("./assets/bg-gradient.jpg");
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
#header{
  width: 80%;
  //background-color: white;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
  padding: 20px 0 20px 0;
  color: white;
  max-width: 800px;
}
#content{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  font-family: Arial;
  max-width: 800px;
  //background-color: yellow;
}
#container-employee-list{
  //text-align: center;
}
.warning{
  color: darkred;
  margin-bottom: 20px;
  font-size: medium;
}
#employee-list-table{
  margin: 0 auto;
  font-size: large;
  color: white;
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
}
#employee-list-table tr:nth-child(odd) td{
  background-color: #021337;
  padding: 10px;
}
#employee-list-table tr:nth-child(even) td{
  background-color: white;
  color: #021337;
  padding: 10px;
}
#employee-list-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#employee-list-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
#employee-list-table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
#employee-list-table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
#container-employee-form{

}
#footer{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  //background-color: blue;
}
