/* You can add global styles to this file, and also import other style files */
h1{
  font-size: 2.5rem;
}
h2{
  color: white;
}
html{
  height: 100%;
}
body{
  background-image: url("./assets/bg-gradient.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 85%;
}
//------------------------- NAVIGATION AND FOOTER-----------------------------
#app-title{
  font-size: 2.5rem;
  font-family: 'DM Serif Display', serif;
  color: white;
}
.navbar-container{
  padding: 0 1.2rem 0 1.2rem;
}
.navbar-toggler{
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  transition: .25s ease-in-out;
}
.navbar-toggler:hover .toggler-icon{
  background-color: darkred;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler span{
  margin: 0;
  padding: 0;
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar{
  margin-top: 0;

}
//when navigation is clicked
.navbar-toggler .top-bar{
  margin-top: 0;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
  margin-top: 0;
  transform: rotate(-135deg);
}
//state when the navbar is collapsed
.navbar-toggler.collapsed .top-bar{
  margin-top: -1rem;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
  opacity: 1;
  filter: alpha(opacity=1);
}
.navbar-toggler.collapsed .bottom-bar{
  margin-top: 1rem;
  transform: rotate(0deg);
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 8% 0.5rem 8%;
  background-color: rgba(10,10,55,1);
  font-family: 'Roboto', sans-serif;
  font-size: small;
}
.footer-left{
  opacity: 0.8;
}
.footer-right{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.8;
}
.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active{
  text-decoration: none;
}
.footer a:visited{
  color: inherit;
}
.footer a:hover{
  color: darkred;
}
//----------------------------HOME PAGE--------------------------------
#container-home-page{
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
#buttons-container{
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  display: block;
  width: 100%;
}
@media (min-width: 576px) {
  #buttons-container{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    transform: translateY(-60%);
  }
}
.button-home-page{
  text-align: center;
  background-color: white;
  color: #021337;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 576px) {
  .button-home-page{
    border-radius: 20px;
    padding: 1rem;
    width: 11rem;
    height: 11rem;
  }
}
.button-home-page:hover{
  cursor: default;
  background-color: #e2e2e2;
}
.button-home-page img{
  display: none;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .button-home-page img{
    display: block;
    width: 7rem;
    margin-bottom: 0.4rem;
  }
}
//--------------------------- EMPLOYEE FORM----------------------------
#container-employee-form{
  text-align: center;
  margin-top: 7rem;
  padding: 2rem;
}
#container-employee-form input{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
  width: 100%;
  display: block;
  max-width: 400px;
  padding: 0.3rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: none;
  transition: .25s ease-in-out;
}
@media (min-width: 576px) {
  #container-employee-form input {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    padding: 0.8rem;
    transition: .25s ease-in-out;
  }
}
//-------------------------- EMPLOYEE LIST ----------------------------
#container-employee-list{
  padding: 2rem 2rem 4rem 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.warning{
  color: darkred;
  margin-bottom: 20px;
  font-size: medium;
}
#employee-list-table{
  margin: 0 auto;
  font-size: small;
  color: white;
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
}
.minus-icon{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
}
.minus-icon:hover{
  color: darkred;
  cursor: pointer;
}
#employee-list-table tr td{
  padding: 0.5rem 0.1rem 0.5rem 0.1rem;
}
#employee-list-table tr:nth-child(odd) td{
  background-color: #021337;
}
#employee-list-table tr:nth-child(even) td{
  background-color: white;
  color: #021337;
}
.action-td{
  text-align: center;
}
.id-td{
  text-align: center;
  width: 2rem;
}
#employee-list-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#employee-list-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
#employee-list-table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
#employee-list-table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
//-----------------------------EMPLOYEE DETAILS-------------------------------
.id-card{
  width: 17rem;
  height: 24rem;
  background-color: white;
  border-radius: 1rem;
  margin: 5rem auto 5rem auto;
}
.id-card .top{
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: white;
  position: relative;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.id-card .hole{
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #021337;
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.id-card .picture{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.id-card .content{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: black;
}
.id-card .content .left-bar{
  text-align: left;
}
.id-card .content .right-bar{
  text-align: left;
}

