/* You can add global styles to this file, and also import other style files */
h1{
  font-size: 2.5rem;
}
body{
  background-image: url("./assets/bg-gradient.jpg");
  padding: 2rem 1rem 3rem 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
//------------------------- NAVIGATION -----------------------------
#app-title{
   font-size: 2.5rem;
   font-family: 'DM Serif Display', serif;
}
.navbar{
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left{

}
.navbar-right{
  width: 3rem;
}
#home-icon:hover path{
  fill: darkred;
}
//----------------------------HOME PAGE--------------------------------
#container-home-page{
  padding: 2rem;
  margin-top: 9rem;
}
.button-home-page{
  text-align: center;
  background-color: white;
  color: #021337;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
.button-home-page:hover{
  cursor: default;
  background-color: #e2e2e2;
  font-weight: bold;
}
//--------------------------- EMPLOYEE FORM----------------------------
#container-employee-form{
  text-align: center;
  margin-top: 7rem;
  display: block;
  padding: 2rem;
}
#container-employee-form input{
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: none;
}
//-------------------------- EMPLOYEE LIST ----------------------------
#container-employee-list{
  padding: 2rem 1rem 2rem 1rem;
  font-family: 'Roboto', sans-serif;
}
.warning{
  color: darkred;
  margin-bottom: 20px;
  font-size: medium;
}
#employee-list-table{
  margin: 0 auto;
  font-size: small;
  color: white;
  width: 100%;
  border-collapse: collapse;
}
#minus-icon{
  width: 1.5rem;
  height: 1.5rem;
}
#minus-icon:hover{
  color: darkred;
}
#employee-list-table tr td{
  padding: 0.5rem 0.1rem 0.5rem 0.1rem;
}
#employee-list-table tr:nth-child(odd) td{
  background-color: #021337;
}
#employee-list-table tr:nth-child(even) td{
  background-color: white;
  color: #021337;
}
.action-td{
  text-align: center;
}
.id-td{
  text-align: center;
  width: 2rem;
}
#employee-list-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#employee-list-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
#employee-list-table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
#employee-list-table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
//---------------------------------------------------------------------
